#main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
    font-size: 50px;
}

#instructions {
    display: flex;
    text-align: center;
    color: darkslategray;
    font-size: 30px;
    line-height: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: dodgerblue;
    font-size: 15px;
    font-weight: bolder;
    border-color: dodgerblue;
    color: whitesmoke;
}

button:hover {
    opacity: .8;
    cursor: pointer;
}

button:active {
    opacity: 1; 
}

/* Design the header and question page */

#score-timer {
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#score {
    font-size: 50px;
    font-family: sans-serif;
    color: cornflowerblue;
}

#time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: darkslateblue;
}

#multiple-choice {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid yellow;
}

#submit {
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;

}
